body {
  @extend %DMSans-700;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



