//цвета
$default: #FFF;


//шрифты
%SF-Black {
  font-family: 'SFProDisplay-Black';
  font-weight: 800;
}
%SF-Bold {
  font-family: 'SFProDisplay-Bold';
  font-weight: 700;
}
%SF-Regular {
  font-family: 'SFProDisplay-Regular';
  font-weight: 400;
}
%SF-Semibold {
  font-family: 'SFProDisplay-Semibold';
  font-weight: 600;
}

//наследования
%main-width {
  max-width: 1770px;
  margin: 0 auto;
}

%display-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



