.bunner {
  display: flex;
  flex-grow: 1;

  &__wrapper {
    display: flex;
    flex-grow: 1;
    background-image: url("../../assets/images/bg/bg@x4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 342px;
    margin: 0 auto;
  }

  &__cross-btn {
    margin-top: 72px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 151px;
  }

  &__title {
    margin: 0 auto;
    @extend %SF-Bold;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
  }

  &__cards_list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 14px;
  }

  &__cards_list-item {
    position: relative;
    padding: 10.8px 7.2px;
    display: flex;
    align-items: flex-end;
    min-height: 138px;
    border-radius: 10.8px;

    background-size: cover;
    background-position: center center;
    transition: height 0.3s, width 0.3s;
  }

  &__cards_list-text {
    display: block;
    max-width: 80px;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: normal;
  }

  &__selectors_list {
    margin-top: 49.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__selectors_list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    padding: 8px 24px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    backdrop-filter: blur(5.436563491821289px);
    transition: all 0.5s;
    cursor: pointer;

    &.--best-offer {
      &::before {
        position: absolute;
        content: "best offer";
        right: 24px;
        top: -13px;

        @extend %SF-Bold;
        padding: 2px 22px 3px 23px;
        background-color: $default;
        color: #141131;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
        font-size: 13px;
      }
    }

    &.--active {
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.3);

      backdrop-filter: blur(5.436563491821289px);
    }
  }

  &__selectors_list-item-title {
    @extend %SF-Semibold;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
  }

  &__selectors_list-item-subtitle {
    font-size: 16px;
    line-height: normal;
    opacity: 0.7;
  }

  &__selectors_list-item-price {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
    font-size: 15px;
  }
}

.button {
  @extend %SF-Semibold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 16px;
  border-radius: 32px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  .bunner {
    position: relative;
    &::before {
      position: absolute;
      content: "only for iphone size";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
    }

    &__content {
      display: none;
    }
  }
}

@media (max-width: 428px) and (min-height: 926px) {
  .bunner {
    &__content {
      margin-top: 200px;
    }
  }
}

@media (max-width: 414px) and (max-height: 736px) {
  .bunner {
    &__cross-btn {
      margin-top: 33px;
    }
    &__content {
      margin-top: 65px;
    }
  }
}

@media (max-width: 375px) and (max-height: 812px) {
  .bunner {
    &__content {
      margin-top: 100px;
    }
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .bunner {
    &__cross-btn {
      margin-top: 33px;
    }

    &__content {
      margin-top: 65px;
    }

    &__selectors_list {
      margin-top: 43.5px;
    }
  }

  .button {
    margin-top: 8px;
  }
}
